{% extends 'index.html' %}

{%  block head %}
<title> COMMENT SECTION </title>
{% endblock %}

{%  block body %}


<div class="shadow-lg border border-dark bg-white">

    {% for data in comment_data %}
    <div class="rounded shadow-lg border border-dark bg-white d-flex flex-column bd-highlight mb-3 comments-tile">
        <div class="d-flew justify-content-around" style="margin-left: 10px;" >
            <span style="display: inline-block;">
                {{ data.author }}
                :
            </spam>
            <span style="display: inline-block;">
                {{ data.comments_text }}
            </span>
            {% set IconPng = url_for('static', filename='/images/'+data.comment_id+'.jpg') %}
            {% if IconPng %}
            <span>
                <img src="{{ url_for('static', filename='/images/'+data.comment_id+'.jpg') }}" alt="">
            </span>
            {% endif %}
        </div>
        <div class="d-block p-2 " style="width:100%;">
            <button type="button" class="collapsible" >Replies</button>
            <div class="content" >
                <iframe src="/CommentSection/{{ data.comment_id }}"  style="min-height: 350px; margin: 20px; width:100%;" title="Iframe Example"></iframe>     
                <div>
                    <form method='POST' action='/CommentReply/{{ data.comment_id }}' enctype="multipart/form-data">
                        <textarea class="form-control" type='text' name='comment' placeholder="Give a reply to this comment" aria-label="write a new comment here"></textarea>
                        <input type="file" name='fileToUpload' id="fileToUpload">
                        <a class='btn bg-drak'><input type='submit' value="submit"></a>
                    </form>
                </div>
            </div>
            
        </div>
        <span class="d-flex flex-row-reverse bd-highlight" style="margin-right: 30px;">
            <small>
                {{ data.comment_on }}
            </small>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}
