{% extends 'index.html' %}

{%  block head %}
<title> COMMENT SECTION </title>
{% endblock %}

{%  block body %}

<br><br>
<div class="shadow-lg border border-dark bg-white">

    {% for data in comment_data %}
    <br>
    <div class="rounded-pill shadow-lg border border-dark bg-white  comments-tile">
        <div class=" justify-content-start d-inline-block">
            {{ data.author }}
            :
            <div class="d-inline-block justify-content-around">
                {{ data.comments_text }}
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
</div>
{% endblock %}