{% extends 'index.html' %}

{%  block head %}
<title> COMMENT SECTION </title>
{% endblock %}

{%  block body %}


<div class="shadow-lg border border-dark bg-white">

    {% for data in comment_data %}
    <br>
    <div class="rounded shadow-lg border border-dark bg-white  comments-tile">
        <div class=" justify-content-start " style="margin-left: 50px; display: block;">
            {{ data.author }}
            :
            <div class="d-inline-block justify-content-around">
                {{ data.comments_text }}
            </div>
        </div>
        <div style="display: block;">
            <button type="button" class="collapsible inline-block" >Open Collapsible</button>
            <div class="content" >
                hello
                <iframe src="/CommentSection/{{ data.current_id }}"  style="margin: 20px; width:100%;" title="Iframe Example"></iframe>     
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
</div>
{% endblock %}
