{% extends 'index.html' %}


{%  block head %}
<title> ENTER YOUR NAME </title>
{% endblock %}

{%  block body %}


<div class="login">
    <div class="heading">
        <form  method='POST' action='/'>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name='name' class="form-control" placeholder="ENTER YOUR NAME">
            </div>
            <button type="submit" class="float">ENTER</button>
        </form>
    </div>
</div>
{% endblock %}